<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

 
  <Fragment>
    <DirectoryRef Id='INSTALLLOCATION'>

      <Component Id="DynamicLocator_Component" Guid="C34587C2-E18C-434C-83A3-03E9D38DD751" DiskId="1">

        <File Id="ESRIUK.DynamicLocators.Core.dll" Name="ESRIUK.DynamicLocators.Core.dll" Source="..\..\..\DynamicLocatorsCore\bin\Release\ESRIUK.DynamicLocators.Core.dll" />
        <File Id="ESRIUK.DynamicLocators.BNGLocator.dll" Name="ESRIUK.DynamicLocators.BNGLocator.dll" Source="..\..\..\BNGLocator\bin\Release\ESRIUK.DynamicLocators.BNGLocator.dll" />
        <!--<File Id="ESRIUK.DynamicLocators.INGLocator.dll" Name="ESRIUK.DynamicLocators.INGLocator.dll" Source="..\..\..\INGLocator\bin\Release\ESRIUK.DynamicLocators.INGLocator.dll" />-->
        <File Id="ESRIUK.DynamicLocators.GeoCoordLocator.dll" Name="ESRIUK.DynamicLocators.GeoCoordLocator.dll" Source="..\..\..\GeoCoordLocator\bin\Release\ESRIUK.DynamicLocators.GeoCoordLocator.dll" />
        <File Id="ESRIUK.bng_locator.loc" Name="bng_locator.loc" Source="..\..\..\BNGLocator\bin\Release\bng_locator.loc" />
        <!--<File Id="ESRIUK.ing_locator.loc" Name="ing_locator.loc" Source="..\..\..\INGLocator\bin\Release\ing_locator.loc" />-->
        <File Id="ESRIUK.GeoCoord_locator.loc" Name="GeoCoord_locator.loc" Source="..\..\..\GeoCoordLocator\bin\Release\GeoCoord_locator.loc" />
        
        <!--Configuration-->
        <File Id="ESRIUK.DynamicLocators.Core.dll.config" Name="ESRIUK.DynamicLocators.Core.dll.config" Source="..\..\..\DynamicLocatorsCore\bin\Release\ESRIUK.DynamicLocators.Core.dll.config" />

        <!--Log4net-->        
        <File Id="ESRIUK_log4Net.dll" Name="log4net.dll" Source="..\..\..\..\..\Dependencies\log4net.dll" />
       
      </Component>     

    </DirectoryRef>
   
  </Fragment>
</Wix>
